<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>

<body>
    <%- include('../../partials/_navbar.ejs')  %>
    <h1>Edit User</h1>
    <div>
        <form action="/admin/users/<%= user._id %>?_method=PUT" method="POST" >
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" value="<%= user.username %>" />
                
                <label for="role">Role:</label>
                <select id="role" name="role">
                    <option value="Admin" <%= user.role === 'Admin' ? 'selected' : '' %>">Admin</option>
                    <option value="Customer" <%= user.role === 'Customer' ? 'selected' : '' %>">Customer</option>
                    <option value="Author" <%= user.role === 'Author' ? 'selected' : '' %>">Author</option>
                </select>
                
                <button type="submit">Edit User</button>
        </form>
</body>

</html>